@font-face {
	font-family: 'Trueno';
	src: url('/static/fonts/Trueno/TruenoRg.otf');
}

@font-face {
	font-family: 'Trueno';
  font-style: italic;
	src: url('/static/fonts/Trueno/TruenoRgIt.otf');
}

@font-face {
	font-family: 'Trueno';
  font-weight: bold;
	src: url('/static/fonts/Trueno/TruenoBd.otf');
}

@font-face {
	font-family: 'Trueno';
  font-style: italic;
  font-weight: bold;
	src: url('/static/fonts/Trueno/TruenoBdIt.otf');
}
