/* Signup Form */

.signup-form-container {
  width: 45%;
  margin: auto;
  margin-top: 65px;
}

.signup-form-row {
  margin-bottom: 10px;
}

.signup-submit {
  width: 100%;
  background: #D1A8ED;
  color: white;
}

.signup-page {
  background-color: #3ea9f5;
}

.sp-login-link {
  color: white;
  text-decoration: none;
}

.sp-login-link:hover {
  color: white !important;
  text-decoration: none !important;
}

.sp-login-button {
  float: right;
  border: 1px solid white;
  border-radius: 4px;
  font-size: 16px;
  margin-top: 8px;
  padding: 8px 12px;
}

.signup-input {
  height: 50px;
  padding-left: 20px !important;
}

.signup-input:focus {
  box-shadow: none !important;
}

.signup-header {
  color: white;
  margin: 26px 40px 0px;
  font-size: 40px;
}

.signup-text {
  color: white;
  font-size: 16px;
  font-weight: 100;
  text-align: center;
  margin-bottom: 30px;
}

.signup-text-header {
  color: white;
  font-size: 38px;
  margin: 0px 0px 10px;
}

/* End Signup Form */

/* Login page */

.login-form-container {
  margin: auto;
  margin-top: 80px;
  width: 30%;
}

.login-logo {
  font-size: 44px;
  margin-bottom: 4px;
}

/* Menu Panel */

.menu-panel {
  background-color: black;
  color: white;
  min-width: 200px;
}

.menu-header-icon {
  float: right;
}

.menu-header {
  padding: 8px;
  width: 100%;
  font-size: 24px;
}

/* Main Question Page */

.post-container {
  width: 100%;
}

.preview-stats {
  display: flex;
}

.stat-container {
  margin-right: 8px;
  text-align: center;
  width: 60px;
}

.post-preview {
  border-bottom: 1px solid #e4e6e8;
  padding: 8px;
}

.main-container {
  display: flex;
}
