/* Variables */
$charcoal: #222;
$light_purple: #D1A8ED;
$light_blue: #3EA9F5;
$darker_blue: #3E95F5;
$light_gray: #E4E6E8;
$dark_gray: #6A737C;
$collapsed_menu_width: 40px;

/* Misc */

.inline {
  display: inline;
}

.full-width {
  width: 100%;
}

.float-right {
  float: right;
}

/* Signup Form */

.signup-form-container {
  width: 45%;
  margin: auto;
  margin-top: 65px;
}

.signup-form-row {
  margin-bottom: 10px;
}

.signup-submit {
  width: 100%;
  background: $light_purple;
  color: white;
}

.signup-page {
  background-color: $light_blue;
}

.sp-login-link {
  color: inherit;
  text-decoration: none;
}

.sp-login-link:hover {
  color: inherit !important;
  text-decoration: none !important;
}

.sp-login-button {
  float: right;
  border: 1px solid white;
  border-radius: 4px;
  font-size: 16px;
  margin-top: 8px;
  padding: 8px 12px;
}

.signup-input {
  height: 50px;
  padding-left: 20px !important;
}

.signup-input:focus {
  box-shadow: none !important;
}

.signup-header {
  color: white;
  margin: 26px 40px 0px;
  font-size: 40px;
}

.signup-text {
  color: white;
  font-size: 16px;
  font-weight: 100;
  text-align: center;
  margin-bottom: 30px;
}

.signup-text-header {
  color: white;
  font-size: 38px;
  margin: 0px 0px 10px;
}

/* End Signup Form */

/* Login page */

.login-form-container {
  margin: auto;
  margin-top: 80px;
  width: 30%;
}

.login-form {
  margin-top: 8px;
}

/* Logo component */

.logo-container {
  text-align: center;
}

.logo-link {
  color: white;
  text-decoration: none;
}

.logo-link:hover {
  color: white !important;
  text-decoration: none !important;
}


/* Menu Panel */

.menu-panel {
  position: fixed;
  left: 0;
  overflow: hidden;
  height: 100%;
}

.menu-panel-displayed {
  background-color: $charcoal;
  color: white;
  width: 300px;
  border: 1px solid black;
}

.menu-panel-collapsed {
  background-color: white;
  color: $charcoal;
  width: $collapsed_menu_width;
  border: none;
}

.menu-header-icon {
  float: right;
}

.menu-header {
  margin-top: 6px;
  padding: 8px;
  width: 100%;
  font-size: 24px;
}

.menu-panel-content {
  margin-top: 120px;
}

.menu-items {
  text-align: center;
  margin-top: 60px;
  font-size: 18px;
}

.menu-item {
  margin-bottom: 8px;
}

.menu-collapse-btn {
  font-size: 24px;
}

.menu-collapse-btn:hover {
  cursor: pointer;
}

/* Main Question Page */

.post-container {
  padding: 8px;
  width: 100%;
}

.displayed {
  margin-left: 300px;
}

.collapsed {
  margin-left: $collapsed_menu_width;
}

.preview-stats {
  display: flex;
}

.stat-container {
  color: $dark_gray;
  margin-right: 8px;
  text-align: center;
  width: 60px;
}

.stat-group {
  display: flex;
}

.post-preview {
  border-top: 1px solid $light_gray;
  padding: 8px;
  display: flex;
}

.post-preview-title {
  color: $darker_blue;
}

.post-preview-link:hover {
  text-decoration: none;
  color: $light_blue;
}

.pp-stat-container {
  margin-left: 16px;
  height: 100%;
}

.post-preview-stats {
  font-size: 12px;
  margin-top: 4px;
  color: $dark_gray;
}

.main-container {
  display: flex;
}

.main-container-content {
  margin-top: 40px;
}

/* DismissableAlert */

.alert-container {
  padding: 12px !important;
}

/* Navbar */

.kb-navbar-padding {
  padding-top: 4px;
}

.kb-navbar-padding-xl {
  padding-top: 8px;
}

.kb-navbar-text {
  margin-right: 20px;
}

.kb-navbar {
  width: 100%;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: .5rem 1rem;
  position: fixed;
  font-size: 16px;
}

/* Search-bar */
.search-container {
}

.search-input {
  padding: 2px 4px;
}

/* Ask Container */
.ask-container {
  padding: 20px;
  width: 60%;
  margin: auto;
  margin-top: 50px;
}

#askBody {
    resize: none;
}
