$dark_gray: #6A737C;

/* Team-Display */
.team-display {
  margin: auto;
  margin-top: 60px;
  width: 50%;
}

.team-display-stats {
  color: $dark_gray;
}

.team-display-members {
  margin-right: 8px;
}
