$dark_gray: #6A737C;

/* Create obj form */

.create-type {
  margin-top: 80px;
}

.create-type-form {
  width: 50%;
  margin: auto;
}

.create-text {
  font-size: 24px;
  font-weight: 500;
}

.create-subtext {
  color: $dark_gray;
}

.create-input-form {
  margin-top: 12px;
}

/* Add members */
.add-members-container {
  margin-top: 8px;
}

.add-members-button {
  margin-bottom: 2px;
  margin-left: 8px;
}

.add-members-header {
  font-size: 16px;
}

.members-input {
  display: inline !important;
  width: 40% !important;
}
