$dark_gray: #6A737C;

.image-split-container {

}

.image-split-text {
  float: left;
  width: 30%;
}

.image-split-img {
  float: right;
  width: 70%;
}

.image-split-description-container {
  padding-top: 60%;
}

.image-split-container {

}

.image-split-header {
  font-family: Trueno;
  font-weight: bold;
  font-size: 2.25rem;
  line-height: 1.3;
}

.image-split-content {
  font-family: Trueno;
  font-size: 0.9rem;
  color: $dark_gray;
  margin-top: 5%;
  line-height: 1.5;
  width: 120%;
  overflow-x: scroll;
}
